<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Registed Date</th>
    <th scope="col">User Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <th scope="row">{{ user.id }}</th>
    <td>
      {{ user.username }}
    </td>
    <td>{{ user.email}}</td>
    <td>{{ user.createdAt}}</td>
    <td><span *ngFor="let role of user.roles">|| ROLE_{{ role.name | uppercase}}</span></td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="getallUser()">
  </ngb-pagination>


  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getallUser()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>