<div class="jumbotron">
    <h1>Add a Tutorial</h1>
    <hr class="my-4">
    <div class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped bg-success"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
    <div class="submit-form">
        <form *ngIf="!submitted"
            name="tutorial"
            (ngSubmit)="f.form.valid && saveTutorial()"
            #f="ngForm"
            novalidate>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"
                        class="form-control"
                        id="title"
                        required
                        [(ngModel)]="tutorial.title"
                        name="title" 
                        minlength="5"
                        maxlength="100"
                        #title="ngModel"/>
                <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                    <div *ngIf="title.errors.required">Title is Required!</div>
                    <div *ngIf="title.errors.minlength"> Title must be at least 5 characters</div>
                    <div *ngIf="title.errors.maxlength">Title must be at most 100characters</div>
                </div>
                <small id="fileHelp" class="form-text text-muted">Title must be at least 5 characters and no more than 100 characters </small> 
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="10"
                        id="description"
                        required
                        [(ngModel)]="tutorial.description"
                        name="description"
                        minlength="10"
                        maxlength="255"
                        #description="ngModel"></textarea>
                <div class="alert-danger" *ngIf="f.submitted && description.invalid">
                    <div *ngIf="description.errors.required">description is Required!</div>
                    <div *ngIf="description.errors.minlength">Description must be at least 10characters</div>
                    <div *ngIf="description.errors.maxlength">Description must be no more than 255 characters</div>
                </div>
                <small id="fileHelp" class="form-text text-muted">Description must be at least 10 characters and no more than 255 characters</small>    
            </div>

            <div class="form-group">
                <label for="file">File input</label>
                <input type="file" id="file" class="form-control-file" (change)="selectFile($event)" />
                <small id="fileHelp" class="form-text text-muted">upload image  only</small>
   
                <div class="alert-danger" *ngIf="typemessage">
                    {{typemessage}}
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
            
        </form>
        <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newTutorial()">Add</button>
        </div>
    </div>
</div>