<div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text"
                class="form-control"
                placeholder="Search by title"
                [(ngModel)]="title"/>
            <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                type="button"
                    (click)="searchTitle()">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-1-3" *ngFor="let tutorial of tutorials">
                <a routerLink="/usertutorial/{{tutorial.id}}">
                    <img class="rounded-0" style="width: 300px; height: 300px;"
                        src="{{tutorial.image}}">
                    <br/>
                    <p>{{tutorial.title}}</p>
                </a>
            </div>
    </div>
</div>
