
<div class="chat-messages">
  <div class="input-group mb-3">
    <input type="text"
            class="form-control"
            placeholder="User Name"
            [(ngModel)]="username"
            [disabled]="connected"
            />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                id="connected" [disabled]="connected"
                (click)="setupSocketConnection()">connect</button>
    </div>
  </div>
    <div class="chat-messages-show-container">
      <ul class="chat-messages-show-list" id="message-list">
      </ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [(ngModel)]="message">
      <button  class="chat-messages-create-button" 
              [disabled]="!connected"
              (click)="SendMessage()"> Send </button>
    </div>
 </div>