<div style="width: auto; margin:auto;" class="jumbotron">
    <div *ngIf="currentTutorial" class="edit-form">
        <form  name="tutorial"
                (ngSubmit)="f.form.valid()"
                #f="ngForm"
                novalidate>
           <h4>Tutorial</h4>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text"
                        class="form-control"
                        id="title"
                        [(ngModel)]="currentTutorial.title"
                        name="title"
                        minlength="5"
                        maxlength="100"/>
                        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
                            <div *ngIf="title.errors.required">Title is Required!</div>
                            <div *ngIf="title.errors.minlength"> Title must be at least 5 characters</div>
                            <div *ngIf="title.errors.maxlength">Title must be at most 100characters</div>
                        </div>
                        <small id="fileHelp" class="form-text text-muted">Title must be at least 5 characters and no more than 30 characters </small> 
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" 
                        name="description"
                        id="description"
                        class="form-control"
                        [(ngModel)]="currentTutorial.description"
                        minlength="10"
                        maxlength="255"></textarea>
                <div class="alert-danger" *ngIf="f.submitted && description.invalid">
                    <div *ngIf="description.errors.required">description is Required!</div>
                    <div *ngIf="description.errors.minlength">Description must be at least 10characters</div>
                    <div *ngIf="description.errors.maxlength">Description must be no more than 255 characters</div>
                </div>
                <small id="fileHelp" class="form-text text-muted">Description must be at least 10 characters no more than 255 characters</small>    
                   
            </div>

            <div class="form-group">
                <label for="file">File input</label>
                <input type="file" id="file" class="form-control-file" (change)="selectFile($event)" />
                <small id="fileHelp" class="form-text text-muted">upload image  only</small>
   
                <div class="alert-danger" *ngIf="typemessage">
                    {{typemessage}}
                </div>
            </div>

            <div class="form-group">
                <label><strong>Status:</strong></label>
                {{currentTutorial.published ? "Published" : "Pending"}}
            </div>
        </form>

        <button
            class="badge badge-primary mr-2"
            *ngIf="currentTutorial.published"
            (click)="updatePublished(false)">UnPulished</button>
        <button
            class="badge badge-primary mr-2"
            *ngIf="!currentTutorial.published"
            (click)="updatePublished(true)">Publish</button>
        <button
            class="badge badge-danger mr-2"
            (click)="deleteTutorial()">Delete</button>
        <button
            class="badge badge-success"
            type="submit"
            (click)="updateTutorial()">Update</button>
        </div>
            <div class="alert alert-dismissible alert-danger" *ngIf="tutomessage">
                <p class="">{{tutomessage}}</p>
            </div>
    </div>
    <hr>
    <div class="jumbotron">
        <div class="alert alert-dismissible alert-danger" *ngIf="message">
            <p class="">{{message}}</p>
        </div>
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Recent Comments</h3>
                    <span class="label label-info">
                        {{currentComment.length}}</span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let comment of currentComment">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        {{comment.text}}
                                        <div class="mic-info">
                                            By: {{comment.name}} on {{comment.createdAt| date:'medium'}}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        {{comment.text}}
                                    </div>
                                    <div class="action">
                                        <button class="badge badge-danger mr-2" type="submit" (click)="deleteComment(comment.id)">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                </div>
            </div>
    </div>


  
    <div *ngIf="!currentTutorial">
        <br />
        <p>Cannot access this Tutorial......</p>
    </div>

    <div class="submit-form">
        <div class="alert alert-dismissible alert-success" *ngIf="messagecom">
            <p class="">{{messagecom}}</p>
          </div>
        <h3>Leave a Reply</h3>
        <p class="comment-notes">
            Your email address will not be published, Required fields are marked
            <span class="required">*</span>
        </p>
        <form>
            <div class="form-group">
                <label for="name">name : </label>
                <input type="text" required name="name" id="name" class="form-control" [(ngModel)]="comment.name" required/>
            </div>
            <div class="form-group">
                <label for="text">Comment</label>
                <br/>
                <textarea name="text" required id="text" [(ngModel)]="comment.text" cols="45" rows="8"></textarea>
            </div>
            <button (click)="createComment()" class="form-control" class="btn btn-success">Post Comment</button>
        </form>
</div>

