<div class="row">
    <div class="col-md-4">
        <header class="jumbotron">
            <div class="input-group mb-3">
                <input type="text"
                        class="form-control"
                        placeholder="Search by title"
                        [(ngModel)]="title"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary"
                            type="button"
                            (click)="searchTitle()">Search</button>
                </div>
            </div>
        <h4>Tutorial List</h4>
        <ul class="tutorial">
            <li *ngFor="let tutorial of tutorials; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveTutorial(tutorial, i)">
                <span class="badge">{{i+1}}</span>{{tutorial.title}}
            </li>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">Remove All</button>
    </header>
    </div>

    <div class="col-md-8">
        <div *ngIf="currentTutorial" class="card mb-3">
            <h3 class="card-header">Tutorial</h3>
            <div class="card-body">
                <label for="">
                    <strong>Title:</strong>
                </label>
                {{currentTutorial.title}}
            </div>
            <img style="height: 300px; width: 100%; display: block;" 
                src="{{currentTutorial.imageUrl}}" 
                alt="Card image">
            <div class="card-body">
                <label for=""><strong>Description:</strong></label>
                {{currentTutorial.description}}
            </div>
            <div class="card-body">
                <label for=""><strong>Status:</strong></label>
                {{currentTutorial.published ? "Published" : "Pending"}}
            </div>
            <a class="badge badge-warning" routerLink="/tutorials/{{currentTutorial.id}}">Edit</a>
        </div>
        <div *ngIf="!currentTutorial" class="card-body">
            <br />
            <p>Please click on a Tutorial.....</p>
        </div>
    </div>

</div>