<div class="container">


    <header class="jumbotron">
        <ul *ngFor="let user of users">

            <li> <p>{{user.username}}</p>
                {{user.email}}
            </li>
        </ul>
       
    </header>
</div>