<div style="width: auto; margin:auto;">
    <div *ngIf="currentTutorial" class="card">
        <div class="card-header">
            <h4>Tutorial: {{currentTutorial.title}}</h4>
            <span class="badge badge-primary badge-pill">
                Status:{{currentTutorial.published ? "Published" : "Pending"}}</span>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle text-muted">
                Published Date:{{currentTutorial.updatedAt | date:'medium'}}
            </h6>
        </div>
        <img  style="height: 500px; width: 100%; display: block;" 
                    src="{{currentTutorial.imageUrl}}" 
                    alt="Card image">
        <div class="card-body">
            <h5 class="card-title">Tutorial Description: </h5>
            <p class="card-text">{{currentTutorial.description}}</p>
        </div>
        <hr />
        <div class="jumbotron">
            <div class="panel panel-default widget">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{currentComment.length}} comments to  "{{currentTutorial.title}}"</h3>
                    <span class="label label-info">
                        *</span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let comment of currentComment">
                            <div class="row">
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                                <div class="col-xs-10 col-md-11">
                                    <div>
                                        {{comment.text}}
                                        <div class="mic-info">
                                            By: {{comment.name}} on {{comment.createdAt| date:'medium'}}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        {{comment.text}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="submit-form">
        <h3 class="card-header">Leave a Reply</h3>
        <div class="alert alert-dismissible alert-success" *ngIf="message">
            <p class="">{{message}}</p>
        </div>
        <p class="comment-notes">
            Your email address will not be published, Required fields are marked
            <span class="required">*</span>
        </p>
        <div class="form-group">
            <label for="name">name : </label>
            <input type="text" required name="name" id="name" class="form-control" [(ngModel)]="comment.name" required/>
        </div>
        <div class="form-group">
            <label for="text">Comment</label>
            <br/>
            <textarea name="text" required id="text" [(ngModel)]="comment.text" cols="45" rows="8"></textarea>
        </div>
        <button (click)="createComment()" class="form-control" class="btn btn-success">Post Comment</button>
    </div>
</div>